body{
    background-color: rgb(12,18,12);
    color: #E4FDE1;
}

#p-e-canvas{
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#bevy-canvas1{
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
}